<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<form th:action="@{'/update/'+ ${boardDetail.id}}" method="POST" name="checkStarForm">
    <input type="hidden" name="_method" value="put"/>

    <input type="hidden" name="id" th:value="${boardDetail.id}">
    <input type="text" name="title" th:value="${boardDetail.title}" disabled>
    <input type="text" name="writer.name" th:value="${boardDetail.writer.name}" disabled>

    <span th:if="${boardDetail.checkStar == false}">
        <img id="imageF" onclick="changeImage()" th:src="@{/image/unchecked.svg}"/>
    </span>
    <span th:if="${boardDetail.checkStar == true}">
        <img id="imageT" onclick="changeImage()" th:src="@{/image/checked.svg}"/>
    </span>
    <input type="text" id="check" name="checkStar" th:value="${boardDetail.checkStar}" disabled><br>

    <h4>작성일자 : [[${boardDetail.regDate}]]</h4>
    <h4>계획 달성 일자: [[${boardDetail.updateDate}]]</h4><br>

    <textarea name="content" readonly="readonly" th:text="${boardDetail.content}" ></textarea><br>

    <div sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item">
        <button type="submit">저장</button>
    </div>
    <button type="button" class="navyBtn" onclick="location.href='/main'">이전으로</button>

</form>
</body>
</html>

<script type="text/javascript">
    state = document.getElementById('check').value;

    function changeImage() {
        if (state === false) {
            state = true;
            document.checkStarForm.checkStar.value = state;
            document.getElementById('imageF').src = "/image/checked.svg";
        } else {
            state = false;
            document.checkStarForm.checkStar.value = state;
            document.getElementById('imageT').src = "/image/unchecked.svg";
        }
    }
</script>