<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관 동의</title>
</head>
<body>
<h2>약관 동의</h2>

<img id="image1" src="" onclick="changeImage()"/>전체 동의
<input type="checkbox" id="check1" disabled><br>

<img id="image2" src="" onclick="checking1()"/>스케쥴러 이용약관
<input type="checkbox" id="check2" disabled><br>

<img id="image3" src="" onclick="checking2()"/>개인정보 수집 및 이용
<input type="checkbox" id="check3" disabled><br>

<img id="image4" src="" onclick=""/>
<input type="checkbox" id="check4" disabled><br>

</body>
</html>

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    const check = document.getElementById('check1');
    const is_checked = check.checked;

    if (is_checked === false) {
        document.getElementById('image1').src = '/image/allunchecked.svg';
        document.getElementById('image2').src = '/image/small_unchecked.svg';
        document.getElementById('image3').src = '/image/small_unchecked.svg';
        document.getElementById('image4').src = '/image/agree_next_no.svg';
    } else {
        document.getElementById('image1').src = '/image/allchecked.svg';
        document.getElementById('image2').src = '/image/small_checked.svg';
        document.getElementById('image3').src = '/image/small_checked.svg';
        document.getElementById('image4').src = '/image/agree_next_yes.svg';
        document.getElementById('image4').setAttribute('onclick', 'location.href=\'/signup\'');
    }

    function changeImage() {
        const e = document.getElementById('check1');
        const is_checked = e.checked;

        if (is_checked === false) {
            document.getElementById('check1').checked = true;
            document.getElementById('check2').checked = true;
            document.getElementById('check3').checked = true;
            document.getElementById('check4').checked = true;
            document.getElementById('image1').src = '/image/allchecked.svg';
            document.getElementById('image2').src = '/image/small_checked.svg';
            document.getElementById('image3').src = '/image/small_checked.svg';
            document.getElementById('image4').src = '/image/agree_next_yes.svg';
            document.getElementById('image4').setAttribute('onclick', 'location.href=\'/signup\'');
            console.log('1: ' + typeof is_checked + " : " + is_checked);
        } else {
            document.getElementById('check1').checked = false;
            document.getElementById('check2').checked = false;
            document.getElementById('check3').checked = false;
            document.getElementById('check4').checked = false;
            document.getElementById('image1').src = '/image/allunchecked.svg';
            document.getElementById('image2').src = '/image/small_unchecked.svg';
            document.getElementById('image3').src = '/image/small_unchecked.svg';
            document.getElementById('image4').src = '/image/agree_next_no.svg';
            console.log('2: ' + typeof is_checked + " : " + is_checked);
        }
    }

    function checking1() {
        const check = document.getElementById('check1');
        const is_checked = check.checked;

        const check1 = document.getElementById('check2');
        const is_checked1 = check1.checked;

        const check2 = document.getElementById('check3');
        const is_checked2 = check2.checked;

        if (is_checked === false) {
            if (is_checked1 === true) {
                document.getElementById('check2').checked = false;
                document.getElementById('image2').src = '/image/small_unchecked.svg';
                return;
            }
            document.getElementById('check2').checked = true;
            document.getElementById('image2').src = '/image/small_checked.svg';
            if (is_checked2 === true) {
                document.getElementById('check1').checked = true;
                document.getElementById('check4').checked = true;
                document.getElementById('image1').src = '/image/allchecked.svg';
                document.getElementById('image4').src = '/image/agree_next_yes.svg';
                document.getElementById('image4').setAttribute('onclick', 'location.href=\'/signup\'');
                return;
            }
        } else {
            document.getElementById('check1').checked = false;
            document.getElementById('check2').checked = false;
            document.getElementById('check4').checked = false;
            document.getElementById('image1').src = '/image/allunchecked.svg';
            document.getElementById('image2').src = '/image/small_unchecked.svg';
            document.getElementById('image4').src = '/image/agree_next_no.svg';
        }
    }

    function checking2() {
        const check = document.getElementById('check1');
        const is_checked = check.checked;

        const check1 = document.getElementById('check2');
        const is_checked1 = check1.checked;

        const check2 = document.getElementById('check3');
        const is_checked2 = check2.checked;

        if (is_checked === false) {
            if (is_checked2 === true) {
                document.getElementById('check3').checked = false;
                document.getElementById('image3').src = '/image/small_unchecked.svg';
                return;
            }
            document.getElementById('check3').checked = true;
            document.getElementById('image3').src = '/image/small_checked.svg';
            if (is_checked1 === true) {
                document.getElementById('check1').checked = true;
                document.getElementById('check4').checked = true;
                document.getElementById('image1').src = '/image/allchecked.svg';
                document.getElementById('image4').src = '/image/agree_next_yes.svg';
                document.getElementById('image4').setAttribute('onclick', 'location.href=\'/signup\'');
                return;
            }
        } else {
            document.getElementById('check1').checked = false;
            document.getElementById('check3').checked = false;
            document.getElementById('check4').checked = false;
            document.getElementById('image1').src = '/image/allunchecked.svg';
            document.getElementById('image3').src = '/image/small_unchecked.svg';
            document.getElementById('image4').src = '/image/agree_next_no.svg';
        }
    }
</script>