<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관 동의</title>
</head>
<body>
<h2>약관 동의</h2>

<img id="image" src="" onclick="changeImage()"/>전체 동의<br>
<input type="checkbox" id="check1" ><br>
<input type="checkbox" id="check2" ><br>

</body>
</html>

<script type="text/javascript">
    const check = document.getElementById('check1');
    const is_checked = check.checked;

    if (is_checked === false) {
        document.getElementById('image').src = '/image/allunchecked.svg';
    } else {
        document.getElementById('image').src = '/image/allchecked.svg';
    }

    function changeImage() {
        const e = document.getElementById('check1');
        const is_checked = e.checked;

        if (is_checked === false) {
            document.getElementById('check1').checked = true;
            document.getElementById('check2').checked = true;
            document.getElementById('image').src = '/image/allchecked.svg';
            console.log('1: ' + typeof is_checked + " : " + is_checked);
        } else {
            document.getElementById('check1').checked = false;
            document.getElementById('check2').checked = false;
            document.getElementById('image').src = '/image/allunchecked.svg';
            console.log('2: ' + typeof is_checked + " : " + is_checked);
        }
    }
</script>