<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원찾기</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">이름</th>
        <th class="two wide">이메일</th>
        <th class="two wide">가입일</th>
    </tr>
    </thead>

    <tbody>
        <td>
            <span th:text="${memberInfo.id}"></span>
        </td>
        <td>
            <span th:text="${memberInfo.name}"></span>
        </td>
        <td>
            <span th:text="${memberInfo.email}"></span>
        </td>
        <td>
            <span th:text="${memberInfo.regDate}"></span>
        </td>
    </tbody>
</table>
</body>
</html>