<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원찾기</title>
</head>
<body>

    <input type="hidden" name="id" th:value="${memberInfo.id}">
    이름 : <input type="text" name="name" th:value="${memberInfo.name}" disabled><br>
    이메일 : <input type="text" name="email" th:value="${memberInfo.email}"><br>
    가입일 : <input type="text" name="regDate" th:value="${memberInfo.regDate}"><br>

<div sec:authorize="hasAnyRole('ROLE_USER')" class="nav-item">
    <a th:href="@{/member/update/{id}(id=${memberInfo.id})}">
        <button>개인정보 수정</button>
    </a>
</div>

</body>
</html>