<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/member/new}" method="post">

            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요."><br/>

            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="이메일를 입력하세요."><br/>

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요."><br/>

            <label for="passwordOnce">비밀번호 확인</label>
            <input type="password" id="passwordOnce" name="passwordOnce" placeholder="비밀번호를 한번 더 입력하세요."><br/>
        <input type="submit" value="승인">
        <input type="reset" value="clear">
    </form>

<!--    <form action="#" th:action="@{/member/find}" method="get">-->
<!--        <div>-->
<!--            <input name="email" type="text" placeholder="찾으시려는 이메일 주소를 입력해주세요.">-->
<!--        </div>-->
<!--        <button>검색하기</button>-->
<!--    </form>-->
</div>
</body>
</html>