<head th:fragment="head">

<!--  <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>-->

  <!-- jquery, bootstrap 헤더에 추가 -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- 링크는 되는데 , 자바 스크립트를 추가할 때 '/>' 이렇게 닫으면 안됨 -->
  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

</head>

<!-- font-awesome에서 제공하는 플러스 아이콘 -->
<!--<a class="nav-link btn btn-outline-primary" th:href="@{/notification}">-->
<!--  <i class="fa fa-plus" aria-hidden="true"></i> 스터디 개설-->
<!--</a>-->

<!-- font-awesome에서 제공하는 벨 아이콘-->
<!--<a class="nav-link" th:href="@{/notification}">-->
<!--  <i class="fa fa-bell-o"></i>-->
<!--</a>-->