<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scheduleer</title>
</head>

<style>
    table {
        width: 100%;
        border: 1px solid #444444;
    }
    th, td {
        border: 1px solid #444444;
    }
</style>

<body>


<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item">
<!--    로그인된 유저의 정보 확인-->
    <button type="button" class="navyBtn" onclick="location.href='/info'">내 정보</button>
    <button type="button" class="navyBtn" onclick="location.href='/addBoard'">계획 작성</button>
</div>

<div sec:authorize="!hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item">
    <button type="button" class="navyBtn" onclick="location.href='/login'">로그인</button>
</div>

<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item">
    <form id="logout" action="/logout" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" value="로그아웃"/>
    </form>
</div>

Logged in as : [[${memberName?.name}]] <br>

<table>
    <thead>
    <tr>
        <th class="one wide">제목</th>
        <th class="ten wide">계획내용</th>
        <th class="ten wide">생성일자</th>
        <th class="ten wide">달성일자</th>
        <th class="two wide">별표</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="board : ${boardList}">
        <td>
            <a th:href="@{/board/detail/{id}(id=${board.id})}">
                <span th:text="${board.title}"></span>
            </a>
        </td>

        <td>
            <span th:text="${board.content}"></span>
        </td>

        <td>
            <span th:text="${board.regDate}"></span>
        </td>

        <td>
            <span th:text="${board.updateDate}"></span>
        </td>

        <td>
            <span th:text="${board.checkStar}"></span>
        </td>
<!--        <td>-->
<!--           <input type="checkbox" th:field="${board.checkStar}" disabled>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
</body>
</html>